html {
    font-size: 18px;
    overflow: auto; 
}

body {
    font-family: Arial, sans-serif;
}    
header {
    background: rgb(34,161,222);
    background: linear-gradient(90deg, rgba(34,161,222,1) 0%, rgba(0,39,176,1) 60%);
    color: white !important;
    position: fixed;
    height: 7rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

header img {
    float: right;
    width: 8%;
    margin-right: 15px;
    margin-top: -35px;
}

header ul {
    margin-top: 0;
    position: relative;
    left: 0rem;
    top: 3rem;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 3rem;
}

header ul li a:hover {
    color: #22a1de;
    background-color: white;
}

